@if (needsAuth()) {
<amplify-authenticator>
  <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
    <div class="bg-[var(--c-bg-body)] text-[var(--c-text-body)] min-h-screen font-sans flex flex-col">
      <app-header></app-header>

      <!-- Main Content -->
      <main class="container mx-auto p-4 sm:p-6 lg:p-8 flex-grow overflow-y-auto">
        <router-outlet></router-outlet>
      </main>

      <app-footer></app-footer>
    </div>
  </ng-template>
</amplify-authenticator>
} @else {
<!-- Public routes (home, intro) don't require authentication -->
<router-outlet></router-outlet>
}